{
 :paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  pro.juxt.crux/crux-http-server {:mvn/version "1.18.1"}
  pro.juxt.crux/crux-core {:mvn/version "1.18.1"}
  pro.juxt.crux/crux-jdbc {:mvn/version "1.18.1"}
  pro.juxt.crux/crux-s3 {:mvn/version "1.18.1"}
  pro.juxt.crux/crux-rocksdb {:mvn/version "1.18.1"}
  yogthos/config {:mvn/version "1.1.7"}}

 :aliases
 {:env/test {:extra-paths ["test"]
             :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                          juxt/crux-http-client {:mvn/version "21.01-1.14.0-beta"}}}

  :build {:deps {io.github.tendant/simple-build {:git/tag "v0.0.28" :git/sha "6e67b0b"}}
          :ns-default build}

  ;; clj -M:test
  :test {:extra-paths ["test"]
                :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.732"}
                              org.clojure/test.check {:mvn/version "1.1.0"}
                              juxt/crux-http-client {:mvn/version "21.01-1.14.0-beta"}}
                :main-opts   ["-m" "kaocha.runner"]}

  :lint/idiom {:replace-paths []
               :replace-deps  {tvaughan/kibit-runner {:mvn/version "1.0.1"}}
               :main-opts     ["-m" "kibit-runner.cmdline"]}

  :project/outdated {:replace-paths []
                     :replace-deps  {antq/antq {:mvn/version "0.9.3"}}
                     :main-opts     ["-m" "antq.core"]}

  ;; Run a REPL using nREPL server for access by cider-connect-clj
  ;; clojure -M:middleware/cider-clj
  :middleware/cider-clj {:extra-deps {nrepl/nrepl       {:mvn/version "0.8.3"}
                                      cider/cider-nrepl {:mvn/version "0.25.7"}}
                         :main-opts  ["-m" "nrepl.cmdline"
                                      "--middleware" "[cider.nrepl/cider-middleware]"]}}
}